<div class="container-fluid">
    <button class="button mb-10">Compose</button>
    <ul class="list-unstyled ">
        <li><a href="">Inbox</a></li>
        <li><a href="">Starred</a></li>
        <li><a href="">Important</a></li>
        <li><a href="">Sent Mail</a></li>
        <li><a href="">Drafts</a></li>
        <li><a href="">Junk</a></li>
        <li><a href="">Notes</a></li>
        <li><a href="">Personal</a></li>
        <li><a href="">Travel</a></li>
        <li><a href="">More</a></li>
    </ul>
</div>
