<!-- Mail List Categories -->
<ul ng-hide="$ctrl.emailContent" class="nav nav-tabs hidden-xs">
    <li class="tab-content" ng-repeat="tab in $ctrl.tabs" ng-class="{tabActive: $ctrl.activeTab === tab.name}">
        <a class="glyphicon {{tab.class}}" href="#" ng-click="$ctrl.updateTab(tab.name)"> {{tab.name}}</a>
    </li>
</ul>

<!-- Email List -->
<table class="table">
    <tbody ng-hide="$ctrl.emailContent">
        <tr ng-repeat="email in $ctrl.emails | filter: {tag: $ctrl.activeTab} | filter: $ctrl.searchText | orderBy: '-date'" ng-click="$ctrl.emailViewed(email)" ng-class="{viewed: email.viewed}" ng-if="($ctrl.filter === 'starred' && email.starred) || ($ctrl.filter === 'important' && email.important) || !$ctrl.filter">
            <td>
                <input type="checkbox" ng-click="$event.stopPropagation();">
            </td>
            <td>
                <input type="checkbox" class="glyphicon" ng-class="{'glyphicon-star': email.starred, 'glyphicon-star-empty': !email.starred}" ng-click="$ctrl.starred(email); $event.stopPropagation();">
            </td>
            <td>
                <input type="checkbox" class="glyphicon" ng-class="{'glyphicon-heart': email.important, 'glyphicon-heart-empty': !email.important}" ng-click="$ctrl.important(email); $event.stopPropagation();">
            </td>
            <td>{{email.name}}</td>
            <td>{{email.subject}}</td>
            <td>{{email.date}}</td>
        </tr>
    </tbody>
    <tbody ng-show="$ctrl.emailContent">
        <tr>
            <td>
                {{$ctrl.emailContent.subject}}
            </td>
        </tr>
        <tr>
            <td>
                {{$ctrl.emailContent.description}}
            </td>
        </tr>
    </tbody>
</table>
