.tab-content {
    border: 1px solid #ddd;
    border-bottom: 5px solid #eee;
    width: 20%;
    a {
        padding: 5px !important;
    }
}

table {
    border: 1px solid #ddd;
    border-top: 0;
}

// On active tab and viewed email
.tabActive, .viewed {
    background-color: #eee;
}

.glyphicon:before {
    visibility: visible;
}

//.glyphicon.glyphicon-star-empty:checked:before {
//   content: "\e006";
//}

input[type=checkbox].glyphicon{
    visibility: hidden;
}

.table tbody tr td {
    width: 2px !important;
}