// border
.border {
    border: 1px solid #ddd;
}

// Navigation Search Bar
.navbar-form {
    margin-left: 20px;
    width: 50%;

    .form-group {
        width: 80%;

        input {
            width: 100%;
        }
    }
}

// Fix spacing for glyphicon on phone view
.visible-xs-block button {
    margin-top: 10px;
}

.border-bot {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.second-nav {
    padding: 10px 15px;
    
    button {
        width: 100%;
        border: 1px solid #ddd;
        background-color: #fff;
    }
    
    button:hover {
        background-color: #ddd;
    }
}
